.App {
  background: rgba(210, 210, 210, 0.8);

  width: 100vw;
  height: 100vh;
  padding: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;


}

.settings-page {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.option-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 700px;
  padding-right: 10px;
}

.controls {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: flex-end;
  margin: auto 0 0 0;
}

.controls__button {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.controls__button > button {
  height: 40px;
  background: var(--clr-gray);
  color: rgba(220, 220, 220, 1);
  border-radius: 2px;
  padding: 0 10px;
  margin: 0 15px 0 50px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.controls__button > p {
  font-family: "config-regular";
  font-weight: 900;
  color: var(--clr-gray);
  font-size: 18px;
}

.controls__button > * {
  margin: auto 0;
}



::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track { 
    width: 8px;
    border: none;

}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(230, 230, 230, 1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background-image: url("./assets/images/scrollbar-track.png");
    filter: grayscale(100%);
    background-repeat: repeat-y;
    background-size: contain;
    filter: blur(10px);
}